html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(18, 18, 18);
    height: 100%;
    overflow-x: hidden;
}


.mainContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150%;
    display: grid;
    grid-template-rows: 50% 50%;
}

.containerUp {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-image: url("ChatGPT\ Image\ May\ 11\,\ 2025\ at\ 12_19_39\ AM.png");
    background-size: cover;
    position: relative;
}
 h1 {
    margin: 35px 0 0 0;
    font-size: 1.5rem;
    color: rgb(242, 242, 242);
    letter-spacing: 2px;
 }
 h2{
    margin: 100px 0 0 0;
    font-size: 3rem;
    width: 330px;
    color: rgb(242, 242, 242);
    text-align: center;
    letter-spacing: 0.7px;
 }

 .coming {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    bottom: 5px;
    color: rgb(242, 242, 242);
 }

.containerDown {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: start;
    color: rgb(242, 242, 242);
    background-color: rgb(18, 18, 18);
}

h3 {
    margin: 35px 0 25px 0;
    padding: 0;
    font-size: 1.7rem;
    letter-spacing: 0.7px;
    word-spacing: 3px;
}

.line {
    width: 10%;
    border-bottom: 1px solid grey;
    margin: 0 0 25px 0;
}
.drop {
    margin: 0 0 25px 0;
    font-size: 1.2rem;
}

.name, .email, .message {
    min-width: 340px;
    height: 120px;
    margin: 15px 0;
    font-size: 1rem;
    border-radius: 3px;
    border: 1.5px solid rgb(242, 242, 242);
    background-color: rgb(18, 18, 18);
    padding-left: 5px;
    box-sizing: border-box;
}

input::placeholder {
    font-size: 1rem;
}

.checkContainer {
    display: flex;
    align-items: center;
}

.sign {
    margin-left: 5px;
    color: rgb(242, 242, 242);;
}

input[type="checkbox"] {
    appearance: none;              /* for modern browsers */
    -webkit-appearance: none;      /* for Safari */
    width: 16px;
    height: 16px;
    background-color: black;       /* now works */
    border: 1px solid rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 2px;
  }

  input[type="checkbox"]:checked::after {
    content: "✔";
    display: block;
    text-align: center;
    color: rgb(242, 242, 242);
    font-size: 12px;
  }

button {
    margin: 10px 0;
    min-width: 340px;
    height: 130px;
    font-size: large;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    background-color: rgb(242, 242, 242);
}

.policy {
    width: 80%;
    text-align: center;
    margin: 100px 0 10px 0;
    font-size: 0.8rem;
    color: rgb(182, 182, 182);
}
.copyright {
    margin: 0 0 20px 0;
    width: 80%;
    text-align: center;
    font-size: 0.8rem;
    color: rgb(182, 182, 182);
}
